.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_nav {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: sticky;
  background-color: #6be6de;
  border-radius: 10px;
  font-size: 30px;
  height: 110px;
  display: flex;
  justify-content: space-between;
}
.main_nav h1 {
  margin-top: 15px;
  margin-left: 15px;
}
.main_user {
  margin: 30px;
  width: 40px;
  height: 40px;
}
.main_user:hover {
  background-color: #a8a2c2;
  border-radius: 50%;
  cursor: pointer;
}

.main_boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
}

.main_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.main_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.main_boards_add-board {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.main_boards_add-board_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
